body {
    background-color: rgb(209, 235, 255);
}

#wp {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*X軸位置*/
    justify-content: center;
    /*Y軸位置*/
}

.WPMade {
    text-align: center;
    margin-top: 10px;
}

#game-container {
    display: flex;
    /*彈性放置*/
    flex-wrap: wrap;
    /*卷軸不夠放，換到下一行*/
    justify-content: center;
    /*X軸 置中*/
    margin-top: 5%;
    margin-bottom: 20px;
}

.tube {
    width: 50px;
    height: 200px;
    border: 2px, solid, rgb(0, 0, 0);
    border-top: none;
    border-radius: 0 0 10px 10px;
    margin: 10px;
    display: flex;
    flex-direction: column-reverse;
    /*由下到上排序*/
    overflow: hidden;
    margin-top: 20px;
}

.water {
    width: 100%;
}

.selected {
    border-color: red;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}