<!DOCTYPE html>
<html lang='TW'>

<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>
    <a href="/up" style="text-decoration: none; color: blue; text-align: left;">紀錄</a>
    <div style="text-align: center;">
        <h1>o_O這是一個以Flask為主，含有DB的作業 O_o</h1>
        <p>按下Submit後會將資料傳送至up.html，同時開啟wp.html的遊戲頁面</p>

        <form action='/submit' method='post'>
            <label for='name'>Name</label>
            <input name='name' type='text'></input>

            <label for='message'>Message</label>
            <input name='message' type='text'></input>

            <input type='submit' value="Submit"></input>
        </form>

        <h1>{{ hint }}</h1>
    </div>
</body>

</html>