<!DOCTYPE html>
<html lang='TW'>

<head>
    <title>Home</title>
</head>

<body style="background-color: rgb(209, 235, 255);">
    <a href="/up" style="text-decoration: none; color: blue; text-align: left;">紀錄</a>
    <div style="text-align: center;">
        <h1>o_O這是一個以Flask為主，含有DB的作業 O_o</h1>

        <form action='/submit' method='post'>
            <label for='name'>Name</label>
            <input name='name' type='text'></input>

            <input type='submit' value="Submit"></input>
        </form>

        <h1 style="color: red;">{{ hint }}</h1>
    </div>
</body>

</html>