<!DOCTYPE html>
<html lang='TW'>

<head>
    <title>Home</title>
</head>

<body style="background-color: rgb(209, 235, 255);">
    <a href="/" style="text-decoration: none; color: blue;">回首頁</a>
    <h1 style="text-align: center;">紀錄:{{ total }}</h1>
    <p style="text-align: center;">!!!紀錄到達5筆時會全部刪除並重新計算!!!</p>

    {% for data in datas %}
    <h2 style="font-family:Arial, Helvetica, sans-serif">{{ data['st'] }} </h2>
    <h3 style="font-family:Arial, Helvetica, sans-serif">{{ data['n'] }}</h3>
    <p style="font-family:Arial, Helvetica, sans-serif">完成{{ data['fl'] }}關</p>
    <hr>
    {% endfor%}
</body>

</html>