<!DOCTYPE html>
<html lang='TW'>

<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>
    <a href="/" style="text-decoration: none; color: blue;">回首頁</a>
    <h1 style="text-align: center;">紀錄</h1>

    {% for data in datas %}
    <h2 style="font-family:Arial, Helvetica, sans-serif">{{ data['st'] }} </h2>
    <h3 style="font-family:Arial, Helvetica, sans-serif">Name:{{ data['n'] }}</h3>
    <p>Message:{{ data['m'] }}</p>
    <hr>
    {% endfor%}
</body>

</html>