<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Water Puzzle</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="../static/js/wP.js"></script>
</head>

<body>
    <a href="/" style="text-decoration: none; color: blue;">回首頁</a>
    <a href="/up" style="text-decoration: none; color: blue; margin-left: 20px;">紀錄</a>

    <div id="wp">
        <h1 class="WPMade">Water Puzzle</h1>
        <div id="game-info">
            <p>總共有10關<br>
                目前關卡 : <span id="level-count" style="font-family:Arial, Helvetica, sans-serif;">1</span>
                <button id="play-button" style="margin-left: 20px;">Play</button><br>
                完成的試管：<span id="completed-tubes-count">0</span>
            </p>
            <form action="/finish" method="post"><!-- 按下送出（Submit）按鈕時，表單資料會以 POST 方法送到 '/finish' 這個路徑。-->
                <p>完成的關卡：<span id="finish-level" name="finish-level">0</span></p>
                <input type="hidden" id="finish-level-input" name="finish-level-input" value="0">
                <button type="submit">不想玩了</button>
            </form>
        </div>
        <div id="game-container"></div>
    </div>
</body>

</html>